.table {
  text-align: left;
  text-align: center;
  width: 100%;
  overflow: auto;
  background: rgba(131, 51, 158, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  :where(th, td) {
    white-space: nowrap;
    padding: 1rem;
    vertical-align: middle;
  }
}
